/**
color Verde agua: #7fffd4; 
color Coral: #e4717a; 
color Azul cielo #92c5fc; 
color Azul marino: #162b4e;
color Blanco: 
**/

.body-home {
    background-color: #7fffd4;
}

.menu {
    background-color: #162b4e;
}

.menu a {
    color: #e4717a;
    
}

.menu a b {
    color: white;
}

.form-reserva {
    background-color: #00ffff;
}

a:hover {
    color: #FFA441 !important;
    transition: 0.8s !important;
    cursor: pointer !important;
}

nav a:hover {
    background-color: #3F52B5;
    transition: 0.8s;
    cursor: pointer; 
}

a {
    color: #92c5fc;
    text-decoration:none;

}

.galeria {
    background-color: white;
    padding: 20px 0px 0px 0px;
    margin: 40px 0px 40px 0px;
}

.seccion {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .dark {
    background-color: black;
    color: white;
} */

.font-Serif {
    font-family: 'Fira Sans', sans-serif !important;
}

.form-reserva h1 {
    padding-top: 16px;
}

.estilo-galeria {
    margin-right: 0px;
    margin-left: 0px;
}

.video-container {
    position: relative;
  }
  
/*   #sound-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  } */

  .footer {
    background-color: #e4717a;
  }





